* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  color: aliceblue;

  a {
    text-decoration: none;
    color: white;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
      url(img/whangerei-heads.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    #home-main {
      //   border: red 2px solid;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;

      header {
        font-family: "Shadows Into Light", sans-serif;
        text-align: center;
        width: 55%;
        min-width: 300px;
        max-width: 750px;
        height: 75%;
        min-height: 300px;
        max-height: 400px;
        font-size: 1.8em;
        // border: 3.4px black solid;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        #title-box {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 90%;
          min-width: 300px;
          height: 75%;
          border: 5px white solid;
          border-radius: 10px;
          padding: auto;

          @media only screen and (max-width: 1000px) {
            padding: 5%;
            & > * {
              width: 100%;
            }
            h1 {
              height: 35%;
            }
            h2 {
              height: 65%;
            }
          }

          @media only screen and (max-height: 565px) {
            border: none;
          }

          & > * {
            width: 100%;
            height: 50%;
          }
        }
      }
    }

    #home-footer {
      width: 100%;
      height: 15%;

      display: flex;
      justify-content: center;
      //   align-items: center;

      & > * {
        width: 100%;
      }

      #image-caption {
        display: flex;
        align-items: flex-end;

        a {
          display: flex;
          align-items: center;
          * {
            padding: 5px;
          }
        }
      }

      #see-portfolio {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &:hover,
        &:focus {
          transform: scale(0.95);
        }
      }
    }
  }

  #portfolio {
    background: aliceblue;
    color: #354f97;
    min-height: 100vh;
    width: 100vw;

    padding: 0 25px;

    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      text-align: center;
      padding: 25px;
    }

    section {
      // border: red 2px solid;
      width: 100%;
      max-width: 1500px;
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      #pokedex-image {
        background-image: url(/img/Pokemaster.png);
      }

      #hedira-image {
        background-image: url(/img/Hedira.png);
      }

      #tug-image {
        background-image: url(/img/TugNTwist.png);
      }

      #todo-image {
        background-image: url(/img/ToDo.png);
      }

      #portfolio-image {
        background-image: url(/img/Portfolio.png);
      }

      #music-library-image {
        background-image: url(/img/Music.png);
      }

      #alien-image {
        background-image: url(/img/Aliens.png);
      }

      #morse-image {
        background-image: url(/img/Morse.png);
      }

      #pokedex-image:hover,
      #pokedex-image:active,
      #hedira-image:hover,
      #hedira-image:active,
      #tug-image:hover,
      #tug-image:active,
      #todo-image:hover,
      #todo-image:active,
      #portfolio-image:hover,
      #portfolio-image:active,
      #music-library-image:hover,
      #music-library-image:active,
      #alien-image:hover,
      #alien-image:active,
      #morse-image:hover,
      #morse-image:active {
        background-image: linear-gradient(#3b4b68, #3b4b68);
        div {
          transition: 0.5s ease-in-out all;
          // display: flex;
          opacity: 1;
          transform: scale(1);
        }
      }

      article {
        border: transparent 2px solid;
        border-radius: 35px;

        width: 250px;
        min-width: 25%;

        min-height: 200px;

        margin: 25px 15px;

        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        background-color: transparent;

        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        padding: 10px;

        div {
          // border: green 2px solid;
          height: 100%;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          // display: none;
          display: flex;

          transform: scale(0.8);

          //for transitions
          opacity: 0;

          nav {
            width: 100%;

            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            a {
              border: #354f97 2px solid;
              background-color: transparent;
              border-radius: 25px;
              width: 45%;
              min-width: 175px;
              max-width: 200px;

              margin-top: 5px;

              transition: all 0.2s ease-in-out;

              font-family: "Shadows Into Light", sans-serif;
              font-size: 1.2em;

              &:hover,
              &:focus {
                // color: #354f97;
                background-color: #354f97;
                border: #354f97 2px solid;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  #image-caption {
    align-self: center;
    #image-description {
      display: none;
    }
  }
}

footer {
  min-height: 50px;
  width: 100vw;
  background-color: #3b4b68;

  display: flex;
  justify-content: center;

  section {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-between;

    a {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #footer-description {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
  }
}
